{% extends "home.html" %}
{% load static %}
{% block body %}
<!-- Main Content -->
        <main class="main-content-wide">
            <div class="content-header">
                <h1 class="page-title">Application Form</h1>
            </div>
            <!-- Multi-step Container -->
            <div class="apply-container glass-white" id="apply-flow">
                
                <!-- Step 1: Upload -->
                {% include "jobs/partials/upload_step.html" %}
                
                <!-- Step 2: Personal Info -->
                
                </div>
            </div>
        </main>

{% endblock %}
