{% extends "home.html" %}
{% load static %}
{% block body %}

    <div class="bg-container dim"></div>
    <main class="main-content-wide">
        <div class="content-header">
            <h1 class="page-title">Browse Job Openings</h1>
            <p class="page-subtitle">Smart Hiring Starts Here!</p>
        </div>
        <div class="jobs-search-container glass-white">
            <div class="back-button-container">
            <a href="{% url 'home' %}" class="btn btn-outline-alt">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            </div>
            <div class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input id="search-input" name="q" type="text"
                    placeholder="Search for Jobs (e.g. Admin Staff, Marketing, etc.)" hx-get="{% url 'jobs' %}"
                    hx-trigger="keyup changed delay:300ms"
                    hx-include="[name='department']"
                    hx-target="#jobs-list"
                    hx-swap="innerHTML">
                <button class="btn btn-primary btn-search">
                    Search
                </button>
            </div>
            <select class="status-select" name="department" hx-get="{% url 'jobs' %}" hx-trigger="chance"
                hx-target="#jobs-list" hx-swap="innerHTML" hx-include="#search-input">
                <option value="">All Department</option>
                <option value="Administrative">Administrative</option>
                <option value="Sales">Sales</option>
                <option value="Warehouse">Warehouse</option>
            </select>
            <div class="jobs-list" id="jobs-list">
                {% include "jobs/partials/jobs_list.html" %}
            </div>
        </div>
    </main>

{% endblock %}